<a href="https://colab.research.google.com/github/debbor5/test1/blob/main/tp_debora_bordon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [6]:
import seaborn as sns

In [26]:
df= pd.read_csv("https://raw.githubusercontent.com/debbor5/tpdataset/refs/heads/main/2023%20Matricula%20por%20edad.csv")

In [27]:
print(df.head())

  provincia;departamento;sector;ambito;grado;0años;1año;2años;3años;4años;5años;6años;7años;8años;9años;10años;11años;12años;13años;14años;15años;16años;17años;18años;19años;20años;21años;22años;23años;24años;25años;26años;27años;28años;29años;30añosymás
0  Buenos Aires;ALMIRANTE BROWN;Estatal;Urbano;1°...
1  Buenos Aires;ALMIRANTE BROWN;Estatal;Urbano;10...
2  Buenos Aires;ALMIRANTE BROWN;Estatal;Urbano;11...
3  Buenos Aires;ALMIRANTE BROWN;Estatal;Urbano;12...
4  Buenos Aires;ALMIRANTE BROWN;Estatal;Urbano;13...

In [28]:
df.shape

(1604, 1)