<a href="https://colab.research.google.com/github/debbor5/test1/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [6]:
import seaborn as sns

In [30]:
df= pd.read_csv("https://raw.githubusercontent.com/debbor5/tpdataset/refs/heads/main/2023%20Matricula%20por%20edad.csv" , sep= ";" )

In [31]:
print(df.head())

      provincia     departamento   sector  ambito    grado 0años 1año 2años  \
0  Buenos Aires  ALMIRANTE BROWN  Estatal  Urbano       1°
1  Buenos Aires  ALMIRANTE BROWN  Estatal  Urbano      10°
2  Buenos Aires  ALMIRANTE BROWN  Estatal  Urbano      11°
3  Buenos Aires  ALMIRANTE BROWN  Estatal  Urbano      12°
4  Buenos Aires  ALMIRANTE BROWN  Estatal  Urbano  13°/14°

  3años 4años  ... 21años 22años 23años 24años 25años 26años 27años 28años  \
0              ...
1              ...
2              ...
3              ...
4              ...

  29años 30añosymás
0
1
2
3
4

[5 rows x 36 columns]

In [32]:
df.shape

(1604, 36)